<div class="d-flex flex-column flex-shrink-0 bg-primary" style="width: 4.5rem;">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center mt-5">
        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link py-3 border-bottom text-white">
                <i class="ri-home-line h5 "></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['sales']" class="nav-link py-3 border-bottom text-white">
                <i class="ri-shopping-cart-line h5"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom text-white">
                <i class="ri-shopping-bag-3-line h5"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom text-white">
                <i class="ri-send-plane-line h5"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom">
                <i class="ri-shield-user-line h5 text-white"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom">
                <i class="ri-team-line h5 text-white"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom">
                <i class="ri-road-map-line h5 text-white"></i>
            </a>
        </li>
    </ul>
    <div class="b-example-divider"></div>
</div>